*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', arial, sans-serif;
}

.site-title{
    position: absolute;
    padding: 6px 0 0 40px;
}

.site-title a{
    text-decoration: none;
    font-size: 34px;
    font-family: 'Alex Brush', cursive;
    color: #fff;
    transition: .3s;
        text-shadow: black 0.1em 0.1em 0.2em;
    cursor: pointer;
}

.site-title a:hover{
    font-size: 45px;
}

.overlay-photos div{
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.overlay-photos-first{
    background-image: url(../img/sylwester.png);
}

.overlay-photos-second{
    background-image: url(../img/glowna-sala.jpeg);
}

.overlay-photos-third{
    background-image: url(../img/budynek-noc.jpeg);
}

.slider-title{
    text-align: center;
    font-size: 180px;
    padding-top: 30vh;  
    font-family: 'Alex Brush', cursive;
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.slider-title-sylvester{
    text-align: center;
    font-size: 120px;
    padding-top: 20vh;  
    font-family: cursive;
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.slider-title-sylvester span{
    display: block;
    font-family: cursive;
}

.slick-dots {
    display: flex;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
	justify-content: center;
	
	margin: 0;
	padding: 1rem 0;
	
    list-style-type: none;
}
.slick-dots li {
    margin: 0 0.25rem;
}

.slick-dots li button {
    display: block;
    width: 18px;
    height: 18px;
    padding: 0;
    
    border: 3px solid #fff;
    border-radius: 50%;
    background-color: rgba(255,255,255,0);
    
    text-indent: -9999px;
    cursor: pointer;
}

li.slick-active button {
    background-color: #CF1D16;
}

.overlay-arrow{
    position: absolute;
    top: 45%;
    color: #ccc;
    font-size: 50px;
    cursor: pointer;
}

.overlay-left{
    left: 0;
}

.overlay-right{
    right: 0;
}

.menu{ 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;  
    max-height: 20%;  
}

.fixed_menu{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,.9);

    animation: menu .2s linear;
}

.hamburger{
    display: none;
}
.hamburger_inner{
    color: #fff;
}

.menu-list{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
}

.menu-list li{
    margin-left: 50px;
}

.menu-list li a{
    padding: 5px;

    font-size: 30px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-shadow: black 0.1em 0.1em 0.2em;

    transition: .3s;
}

.menu-list li a:hover{
    font-size: 40px;
}

.section-title{
    font-size: 60px;
    color: #333;
}

.wrapper>*{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.who_we_are{
    padding: 110px 0;

    background-color: #F8F9FA;
}

.who_we_are-text{
    padding: 30px 17% 0;

    line-height: 30px;
    font-size: 20px;
    color: #444;
    letter-spacing: 1px;
    text-align: center;
}





.organize{
    padding: 110px 0;
}

.section-second_title{ 
    font-size: 70px;
    font-family: 'Alex Brush', cursive;
    color: #CF1D16;
}

.organize-list{
    width: 100%;

    margin-top: 70px;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    list-style: none;
}

.organize-list>*{
    flex-basis: 30%;
}

.organize-list *{
    text-align: center;
}

.organize-list-li *{
    margin-top: 30px;
}

.organize-list-title{
    font-size: 30px;
    color: #222;
}

.organize-list-ceremony,
.organize-list-funeral,
.organize-list-saturday{
    margin-top: 60px;
}





.happy_clients{
    position: relative;

    padding: 110px 0 100px;

    background-color: #F8F9FA;
}

.happy_clients-text{
    padding: 0 8%;
    margin-top: 30px;

    font-size: 25px;
    text-align: center;
    color: #444;   
}

.happy_clients-opinion{
    margin-top: 60px;

    display: none;
    text-align: center;
}

.happy_clients-opinion *{
    margin-top: 10px;
}

.happy_clients-opinion-text{
    padding: 0 8%;

    font-size: 25px; 
}

.happy_clients-opinion-customer{
    font-size: 20px;
}

.grade{
    color: #CF1D16;
}

.happy_clients-arrow{
    position: absolute;
    top: 54%;

    font-size: 150px;
    color: #CF1D16;
    cursor: pointer;
}
.happy_clients-left{
    left: 0;
}
.happy_clients-right{
    right: 0;
}

article.happy_clients-active_opinion{
    display: block;
    animation: menu 1s linear;
}

.happy_clients-dots{
    position: absolute;
    top: 90%;
    left: 48%;
}

.happy_clients-dots-dot{
    width: 12px;
    height: 12px;

    margin-left: 7px;
    border: 2px solid #CF1D16;
    border-radius: 50%;

    background-color: #fff;
    cursor: pointer;
}

.happy_clients-dots-active{
    background-color: #CF1D16;
}





.galery{
    padding-top: 110px;
}

.galery-photo-img{
    width: 100%;
    height: auto;
}

.galery-photo{
    flex-basis: 45%;
    margin-top: 50px;
}

.galery-photo_wrapper{
    margin: 30px 0 110px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
}



.contact{
    padding: 110px 0 80px;

    background-color: #F8F9FA;
}

.contact-content{
    width: 100%;

    margin-top: 60px;
    
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.contact-content-information{

    display: flex;
    flex-direction: column;
    text-align: center;
}

.content-information-opening_hours *,
.information-reservation-number{
    font-size: 30px;
    margin-top: 5px;
}

.content-information-reservation{
    font-size: 20px;
    margin-top: 10%;
}

.information-reservation-number1{
    font-weight: bold;
}

.information-reservation-title{
    padding: 0 20px;
}

footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #000;
}

.footer-icons{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer *{
    font-size: 10px;
    color: #888;
}

.visitors_counter{
    display: none;
}

.site_author, .site_author a{
    font-size: 10px;
    margin-right: 10px;
}


@keyframes menu{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media(max-width:1600px){
    .menu-list{
        justify-content: flex-end;

        padding-right: 3%;
    }
    .menu-list li a{
    font-size: 25px;
    }

    .map{
        width: 600px;

        margin-right: 10px;
    }
}


@media(max-width:1250px){
    .slider-title{
        font-size: 140px;
    }
    .site-title a:hover{
        font-size: 34px;
    }
    .slider-title-sylvester{
        font-size: 90px;
    }
    .hamburger{
        display: inline-block;

        margin-right: 20px;
        border: none;

        background-color: #000;
        cursor: pointer;
        
    }
    .hamburger_inner{
        font-size: 50px;
    }
    .menu{
        max-height: 58px;

        text-align: right;
        background-color: #000;     
    }
    .menu-list{  
        flex-direction: column;

        background-color: #000;
        transition: transform .2s ease-in-out;
        transform: translateY(-700px);
    }
    .menu-list li{
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid #fff;

        text-align: center;              
    }
    .menu-list li a{
        display: block;
        width: 100%;

        font-size: 30px;       
    }
    .menu-list--active{
        transform: translateY(0);
    }
    .happy_clients-arrow{    
        top: 65%;

        font-size: 50px;
    }
}


    @media(max-width:1024px){
        .contact-content{
            flex-direction: column;
        }
        .contact-content-information{
            width: 100%;
        }
        .map{
            width: 85%;

            margin: 50px auto 0;
        }
    }

    @media(max-width:900px){
        .slider-title-sylvester{
            font-size: 70px;
        }
        .organize-list>*{
            margin-top: 40px;

            flex-basis: 41%;
            
        }
        .organize-list-ceremony,
        .organize-list-funeral,
        .organize-list-saturday{
        margin-top: 40px;
            }
        .organize-list-wedding,
        .organize-list-communion{
            margin-top: 0;
        }

        .galery-photo{
            flex-basis: 90%;
        }
    }


    @media(max-width:620px){
        .slider-title{
            font-size: 90px;
        }
    }

    @media(max-width:600px){
        .organize-list>*{
            flex-basis: 51%;
        }
        .section-title{
            font-size: 50px;
        }
        .section-second_title{
            font-size: 60px;
        }
        .happy_clients-title{
            font-size: 40px;
        }

        footer{
            flex-direction: column;
        }
    }

    @media(max-width:500px){
        .site-title a,
        .site-title a:hover{
            font-size: 24px;
        }
        .slider-title-sylvester{
            padding-top: 33vh;

            font-size: 40px;         
        }
        .hamburger_inner{
            padding: 10px 0;

            font-size: 35px;        
        }
        .content-information-opening_hours *,
        .content-information-reservation *{
            font-size: 20px;
        }
        .happy_clients-arrow{
            top: 80%;
        }
        .happy_clients-dots{
            display: none;
        }
    }


    @media(max-width:410px){
        .menu-list li a,
        .menu-list li a:hover{
            font-size: 16px;
        }
        .happy_clients-title{
            font-size: 30px;
        }

        .happy_clients .section-second_title{
            font-size: 40px;
        }
    }


    @media(max-width:380px){
        .slider-title{
            font-size: 60px;
        }
        .section-title{
            font-size: 40px;
        }
        .section-second_title{
            font-size: 50px;
        }
        .happy_clients-title{
            font-size: 30px;
        }
    }


    @media(max-width:350px){
        .site-title{
            padding: 2px 0 0 10px;
        }
        .happy_clients-arrow{
            top: 90%;
        }
    }


     @media(max-width:310px){
        .site-title a,
        .site-title a:hover{
            font-size: 18px;
        }
        .hamburger_inner{
            font-size: 23px;
        }
    }